{% extends "base.html" %}
{% block content %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js"></script>

<div class="row justify-content">
    <div class="col-8">
        <form action="{{ url_for('stock.process_append_in_stock') }}" method="POST" id="form_all">
            {{ form.hidden_tag() }}
            <div class="row" id="forms">
                <div class="form-group col-md-4" id="productform">
                    {{ form.type_product0.label }}
                    {{ form.type_product0() }}
                </div>
                <br>
                <div class="form-group col-md-4" id="nameproduct">
                    {{ form.name_product0.label }}
                    <select class="form-control" id="name_product0" name="name_product0">
                        <option value="0">Наименование</option>
                    </select>
                </div>
                <br>
                <div class="form-group col-md-4" id="amountproduct">
                    {{ form.amount_product0.label }}
                    {{ form.amount_product0() }}
                </div>
            </div>
            <br>
            <a class="btn btn-success" onclick="return addField()">Добавить поле</a>
            <a class="btn btn-danger" href="{{ url_for('stock.append_in_stock') }}" style="float:right">Очистить
                поля</a>
            <br>
        </form>
        <br>
        <a class="btn btn-primary" onclick="return add_product()" href="{{ url_for('stock.stock_view') }}">Отправить</a>
    </div>

</div>
{% endblock %}