{% extends "base.html" %}
{% block content %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Тип сырья</th>
            <th scope="col">Наименовение</th>
            <th scope="col">Колличество (кг.)</th>
        </tr>
    </thead>
    {% for item in content %}
    <tbody>
        <tr>
            <th scope="row"></th>
            <td>{{item.type_product.translate_name()}}</td>
            <td>{{item.name_product}}</td>
            <td>{{item.amount_product}}</td>
        </tr>
    </tbody>
    {% endfor %}
</table>
{% endblock %}