{% extends "base.html" %}

{% block content %}
<section class="container w-100 p-2">
    <ul class="list-group d-flex flex-row flex-wrap justify-content-center">
        {% if diagrams|length != 0 %}
            {% for key, value in diagrams.items() %}
                <li class="list-group-item border-0">
                    <a href="{{ url_for('tank.view_tank_info', tank_id = key) }}">
                        <figure>
                            <figcaption class="justify-content-center"></figcaption>
                            <img src="{{ value }}" alt="Диаграмма" width="500" height="400">
                        </figure>
                    </a>
                </li>
            {% endfor %}
        {% endif %}
</section>
{% endblock %}