{% extends "base.html" %}

{% block content %}
<main class="row">
  <section class="p-3 mt-5">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <b>Номер ЦКТ:</b> {{ tank.number }}
      </li>
      <li class="list-group-item">
        <b>Сорт пива:</b> {{ tank.title.value }}
      </li>
      <li class="list-group-item">
        <b>Используемые дрожжи:</b> {{ yeats.name.value }}
      </li>
      <li class="list-group-item">
        <b>Пиво начало набирать давление:</b> {{ 'Да' if tank.beer_grooving else 'Нет' }}
      </li>
      <li class="list-group-item">
        <b>Охлажденный:</b> {{ 'Да' if tank.cooling else 'Нет' }}
      </li>
      <li class="list-group-item"><b>Ожидаемый объем:</b> {{ tank.expected_volume }}
      </li>
      <li class="list-group-item">
        <b>Реальный объем:</b> {{ tank.actual_volume }}
      </li>
    </ul>
  </section>
  <section class="col-12 p-3 mt-2">
    <details class="tank-info d-flex flex-row bd-highlight mb-3">
      <summary class="tank-info__title">Измерения</summary>
      <div class="table-scroll">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"></th>
              {% for item in date %}
              <th scope="col">{{ item }}</th>
              {% endfor %}
          </thead>
          <tbody>
            <tr>
              <th scope="row">Температура</th>
              {% for item in measuring %}
              <td>{{ item.temperature }}</td>
              {% endfor %}
            </tr>
            <tr>
              <th scope="row">Плотность</th>
              {% for item in measuring %}
              <td>{{ item.density }}</td>
              {% endfor %}
            </tr>
            <tr>
              <th scope="row">Давление</th>
              {% for item in measuring %}
              <td>{{ item.pressure }}</td>
              {% endfor %}
            </tr>
            <tr>
              <th scope="row">Комментарий</th>
              {% for item in measuring %}
              <td>{{ item.comment }}</td>
              {% endfor %}
            </tr>
            <tr>
              <th scope="row">Дата изменения</th>
              {% for item in measuring %}
              <td>{{ item.create_at.strftime("%d-%m-%Y, %H:%M") }}</td>
              {% endfor %}
            </tr>
          </tbody>
        </table>
      </div>
    </details>
  </section>
</main>
{% endblock %}