{% extends "base.html" %}

{% block content %}
<main class="row justify-content-center">
    <div class="col-4 border border-light shadow p-3 mb-5 bg-white rounded mt-5">
        <form action="{{ url_for('user.process_create_user') }}" method="POST">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.username.label(class_="form-label") }}
                {{ form.username() }}
            </div>
            <div class="mb-3">
                {{ form.firstname.label(class_="form-label") }}
                {{ form.firstname() }}
            </div>
            <div class="mb-3">
                {{ form.lastname.label(class_="form-label") }}
                {{ form.lastname() }}
            </div>
            <div class="mb-3">
                {{ form.password.label(class_="form-label") }}
                {{ form.password() }}
            </div>
            <div class="mb-3">
                {{ form.re_password.label(class_="form-label") }}
                {{ form.re_password() }}
            </div>
            <div class="mb-3">
                {{ form.position.label(class_="form-label") }}
                <div class="mb-3">
                    {{ form.position() }}
                </div>
            </div>
            <div class="mb-3">
                {{ form.submit() }}
            </div>
        </form>
    </div>
</main>
{% endblock %}